.pokemonCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  box-shadow: 10px 10px 20px rgb(255, 247, 1);
  background-color: rgba(121, 202, 135, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px hidden rgba(19, 36, 92, 0.776);
}

.pokemonCardDetails {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: rgb(17, 16, 79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.ability {
  font-size: smaller;
  color: rgba(38, 244, 72, 0.66);
  display: list-item;
  margin: 1px;
}
