.containerPokemons {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.pokemonCard {
  margin: 15px;
  box-shadow: 10px 10px 20px rgba(247, 50, 5, 0.995);
  background-color: rgba(121, 202, 135, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px hidden rgba(19, 36, 92, 0.776);
  width: 25%;
}

.cardImgTop {
  width: 100%;
}

.cardBody {
  margin-bottom: 30px;
}
.cardTitle {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: rgb(17, 16, 79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.deleteButton {
  margin-bottom: 15px;
}
.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 30px;
}
